@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@layer components {
  .bg-dark {
    background-color: hsl(230, 17%, 14%);
  }
  .top-bg-dark {
    background-color: hsl(232, 19%, 15%);
  }
  .bg-dark-card {
    background-color: hsl(228, 28%, 20%);
  }
  .dark-text {
    color: hsl(228, 34%, 66%);
  }
  .bg-gradient {
    background-image: linear-gradient( hsl(146, 68%, 55%), hsl(210, 78%, 56%) ) !important;
  }
  .text-green {
    color:hsl(163, 72%, 41%);
  }
  .text-red {
    color: hsl(356, 69%, 56%);
  }
}

.card:hover {
  background-color: hsl(227, 18%, 29%);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(230, 17%, 14%);
}

.facebook {
  position: relative;
  overflow: hidden;
}

.facebook::before {
  content: '';
  background-color: hsl(208, 92%, 53%);
  width: full;
  height: 4px;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
}
.twitter {
  position: relative;
  overflow: hidden;
}

.twitter::before {
  content: '';
  background-color:  hsl(203, 89%, 53%);
  width: full;
  height: 4px;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
}
.instagram {
  position: relative;
  overflow: hidden;
}

.instagram::before {
  content: '';
  background-image: linear-gradient(hsl(37, 97%, 70%) , hsl(329, 70%, 58%));
  width: full;
  height: 4px;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
}
.youtube {
  position: relative;
  overflow: hidden;
}

.youtube::before {
  content: '';
  background-color: hsl(348, 97%, 39%);
  width: full;
  height: 4px;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.form-switch {
  padding-left: 2.5em;
}
.form-switch .form-check-input {
  margin-top: 0.1rem/* 1.6px */;
  background-image: linear-gradient(hsl(210, 78%, 56%) , hsl(146, 68%, 55%)) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-position: left center;
  -webkit-transition: background-position 0.15s ease-in-out;
  transition: background-position 0.15s ease-in-out;
}
.form-switch .form-check-input:focus {
  background-image: hsl(230, 22%, 74%) !important;
}
.form-switch .form-check-input:checked {
  background-position: right center;
  background-image: hsl(230, 22%, 74%) !important;
}
